.fallback {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #E0E7EF;
    background-color: #ffffff;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 1.5px;
}

